<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- HSQL
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:jbpm</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
	-->

	<!-- MySQL -->
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/fjdp</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">fortunes</property>
	<!-- -->

	<!-- SQLServerDriver 
	<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
	<property name="connection.driver_class">com.microsoft.jdbc.sqlserver.SQLServerDriver</property>
	<property name="connection.url">jdbc:microsoft:sqlserver://127.0.0.1:1433;DatabaseName=Fortunes</property>
	<property name="connection.username">sa</property>
	<property name="connection.password">sa</property>
	-->
	
	<!-- Oracle9
	<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	<property name="connection.url">jdbc:oracle:thin:@218.10.10.228:1521:gdb</property>
	<property name="connection.username">ala_admin</property>
	<property name="connection.password">fortunes</property>
	-->
	
	
	<property name="show_sql">true</property>
	
	<!-- admin -->
	<mapping class="net.fortunes.admin.model.Config"/>
	<mapping class="net.fortunes.admin.model.Menu"/>
	<mapping class="net.fortunes.admin.model.Dict"/>
	<mapping class="net.fortunes.admin.model.Privilege"/>
	<mapping class="net.fortunes.admin.model.Role"/>
	<mapping class="net.fortunes.admin.model.User"/>
	<mapping class="net.fortunes.admin.model.Employee"/>
	<mapping class="net.fortunes.admin.model.Organization"/>
	<mapping class="net.fortunes.admin.model.Notice"/>
	<mapping class="net.fortunes.admin.model.NoticeMessage"/>
	<mapping class="net.fortunes.admin.model.UserMessage"/>
	<mapping class="net.fortunes.admin.model.Notice"/>
	<mapping class="net.fortunes.admin.model.Log"/>
	
	<!-- jbpm -->
	<mapping resource="jbpm.repository.hbm.xml" />
	<mapping resource="jbpm.execution.hbm.xml" />
	<mapping resource="jbpm.history.hbm.xml" />
	<mapping resource="jbpm.task.hbm.xml" />
	<mapping resource="jbpm.identity.hbm.xml" />
	
	
	<!-- app -->
	
	
	
	
	
	
</session-factory>
</hibernate-configuration>
