<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
		default-autowire="byName">
   
	<!-- System -->
	<bean id="systemAction" class="net.fortunes.admin.action.SystemAction" scope="prototype">
	</bean>
    
	<!-- Employee -->
    <bean id="employeeService" class="net.fortunes.admin.service.EmployeeService" parent="genericService">
    </bean>   
    <bean id="employeeAction" class="net.fortunes.admin.action.EmployeeAction" scope="prototype">
    	<property name="defService" ref="employeeService"/>
    </bean>
    
    <!-- Organization -->
    <bean id="organizationService" class="net.fortunes.admin.service.OrganizationService" parent="genericService">
    </bean>   
    <bean id="organizationAction" class="net.fortunes.admin.action.OrganizationAction" scope="prototype">
    	<property name="defService" ref="organizationService"/>
    </bean>
    
    <!-- Dict -->
	<bean id="dictService" class="net.fortunes.admin.service.DictService" parent="genericService">
	</bean>
	<bean id="dictAction" class="net.fortunes.admin.action.DictAction" scope="prototype">
		<property name="defService" ref="dictService"/>
	</bean>
	
	<!-- Role -->
	<bean id="roleService" class="net.fortunes.admin.service.RoleService" parent="genericService">
	</bean>
	<bean id="roleAction" class="net.fortunes.admin.action.RoleAction" scope="prototype">
		<property name="defService" ref="roleService"/>
	</bean>
	
	<!-- User -->
	<bean id="userService" class="net.fortunes.admin.service.UserService" parent="genericService">
	</bean>
	<bean id="userAction" class="net.fortunes.admin.action.UserAction" scope="prototype">
		<property name="defService" ref="userService"/>
	</bean>
	
	<!-- Privilege -->
	<bean id="privilegeService" class="net.fortunes.admin.service.PrivilegeService" parent="genericService">
	</bean>
	
	<!-- Menu -->
	<bean id="menuService" class="net.fortunes.admin.service.MenuService" parent="genericService">
	</bean>
	
	<!-- Config -->
	<bean id="configService" class="net.fortunes.admin.service.ConfigService" parent="genericService">
	</bean>
	<bean id="configAction" class="net.fortunes.admin.action.ConfigAction" scope="prototype">
	</bean>
	
	<!-- Notice -->
    <bean id="noticeService" class="net.fortunes.admin.service.NoticeService" parent="genericService">
    </bean>
    <bean id="noticeAction" class="net.fortunes.admin.action.NoticeAction" scope="prototype">
    	<property name="defService" ref="noticeService"/>
    </bean>
    
    <!-- NoticeMessage -->
    <bean id="noticeMessageService" class="net.fortunes.admin.service.NoticeMessageService" parent="genericService"/>
	
	<!-- Log -->
	<bean id="logService" class="net.fortunes.admin.service.LogService" parent="genericService">
	</bean>
	<bean id="logAction" class="net.fortunes.admin.action.LogAction" scope="prototype">
		<property name="defService" ref="logService"/>
	</bean>
    
</beans>
